BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
PointerBindsToType: true
ColumnLimit: 100
SpaceAfterControlStatementKeyword: false
NamespaceIndentation: Inner
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AccessModifierOffset: -4
BreakConstructorInitializersBeforeComma: true
Standard: Cpp03
AlwaysBreakTemplateDeclarations: true
Cpp11BracedListStyle: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 60
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000
