# http://www.appveyor.com/docs/appveyor-yml

notifications:
  - provider: Email
    to:
      - vik.kirilov@gmail.com
    on_build_status_changed: true
    on_build_failure: true
    on_build_success: false
  # gitter
  - provider: Webhook
    url: https://webhooks.gitter.im/e/3a78202a235c0325e516
    on_build_status_changed: true
    on_build_failure: true
    on_build_success: false

clone_depth: 100
branches:
  except:
    - gh-pages
    - coverity_scan

matrix:
  fast_finish: false

environment:
  matrix:
  - platform: x86
    configuration: Debug
    arch: "Win32"
    VS_GEN: ""
  - platform: x86
    configuration: Release
    arch: "Win32"
    VS_GEN: ""
  - platform: x64
    configuration: Debug
    arch: "x64"
    VS_GEN: " Win64"
  - platform: x64
    configuration: Release
    arch: "x64"
    VS_GEN: " Win64"

install:
  - appveyor-retry appveyor DownloadFile http://downloads.sourceforge.net/mingw-w64/x86_64-6.1.0-release-posix-seh-rt_v5-rev0.7z
  - 7z x x86_64-6.1.0-release-posix-seh-rt_v5-rev0.7z -oc:\mingw > nul

build_script:
  # ============= 2008 IS ENABLED ONLY FOR x86 BECAUSE CMAKE CANNOT FIND THE COMPILER FOR Win64
  #- IF "%arch%" == "Win32" mkdir 2008
  #- IF "%arch%" == "Win32" cd 2008
  #- IF "%arch%" == "Win32" set gen=Visual Studio 9 2008%VS_GEN%
  #- IF "%arch%" == "Win32" cmake .. -G "%gen%"
  #- IF "%arch%" == "Win32" msbuild all.sln /p:Configuration=%Configuration%;Platform=%arch% /maxcpucount
  #- IF "%arch%" == "Win32" ctest -C %configuration% --output-on-failure
  #- IF "%arch%" == "Win32" cd ..
  #- mkdir 2010
  #- cd 2010
  #- set gen=Visual Studio 10 2010%VS_GEN%
  #- cmake .. -G "%gen%"
  #- msbuild all.sln /p:Configuration=%Configuration%;Platform=%arch% /maxcpucount
  #- ctest -C %configuration% --output-on-failure
  #- cd ..
  #- mkdir 2012
  #- cd 2012
  #- set gen=Visual Studio 11 2012%VS_GEN%
  #- cmake .. -G "%gen%"
  #- msbuild all.sln /p:Configuration=%Configuration%;Platform=%arch% /maxcpucount
  #- ctest -C %configuration% --output-on-failure
  #- cd ..
  #- mkdir 2013
  #- cd 2013
  #- set gen=Visual Studio 12 2013%VS_GEN%
  #- cmake .. -G "%gen%"
  #- msbuild all.sln /p:Configuration=%Configuration%;Platform=%arch% /maxcpucount
  #- ctest -C %configuration% --output-on-failure
  #- cd ..
  #- mkdir 2015
  #- cd 2015
  #- set gen=Visual Studio 14 2015%VS_GEN%
  #- cmake .. -G "%gen%"
  #- msbuild all.sln /p:Configuration=%Configuration%;Platform=%arch% /maxcpucount
  #- ctest -C %configuration% --output-on-failure
  #- cd ..
  # ============= MINGW - always 64 bit
  - mkdir gcc6
  - cd gcc6
  - set PATH=C:\Program Files (x86)\CMake\bin;C:\mingw\mingw64\bin
  - cmake .. -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=%Configuration%
  - cmake --build .
  - ctest --output-on-failure
  - cd ..

























